@use "./base.scss";

// put your custom CSS here!


strong, .page article p > strong {
    color: #eccb8a;
}

em {
    color: #cf856f;
}

h1 {
    color: #d08670;
}

h2 {
    color: #a3be8d;
}

h3 {
    color: #a3be8d;
}